.top-page-header {
  height: 80px;
  display: flex;
  background-color:#B38867;
}

.logout {
  text-decoration: none;
  color: #333333;
}

.login {
  text-decoration: none;
  color: #333333;
  margin-right: 3vw;
}

.title-logo-space {
  overflow-y: auto;
}

.title-logo-btn {
  text-decoration: none;
  color: black;
  font: bold 20px serif;
  font-size: 60px;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}

.title-logo-space {
  width: calc(100vw - 350px);
  justify-content: center;
  align-items: center;
}

.login-space {
  width: 230px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.login-li {
  display: flex;
}

.login-lists {
  display: flex;
  list-style: none;
  margin-right: 3vw;
}

.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}