.top-page-header {
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color:coral;
}

.logout {
  text-decoration: none;
  color: #333333;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.login-lists {
}

.sign-up {
  text-decoration: none;
  color: #333333;
}