<%= render "shared/header" %>
<div class='main-contents'>
  <%= render "boxes/sideber" %>
  <div class='side-contents'>
    <%= render partial: 'comic', collection: @comics %>
  </div>
</div>


<%= render "shared/footer" %>