<div class='side-bar'>
  <% if user_signed_in? %>
    <%= link_to(new_comic_path, class: 'sidebar-btn') do %>
      <span class='sidebar-btn-text'>漫画を追加</span>
    <% end %>
  <% else %>
    <%= link_to(new_user_session_path, class: 'sidebar-btn') do %>
      <span class='sidebar-btn-text'>漫画を追加</span>
    <% end %>
  <% end %>

  <%= link_to(box_path, class: 'sideber-btn') do %>
    <span class='sidebar-btn-text'>本棚へ</span>
  <% end %>
</div>