<div class='all-contents'>
  <%= render "boxes/sideber" %>
  <div class='central-contents'>
    <%= render "shared/header" %>
    <div class='main-contents'>

      <ul class='list-comic'>
        <%= render partial: 'box', collection: @boxes %>
      </ul>

    </div>
    <%= render "shared/footer" %>
  </div>
</div>



